<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'scripts.js' %}"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

  <title>Frontend Mentor | Entertainment web app</title>
</head>
<body>

  <div class="wrapper login-wrapper">
    <div class="page-logo login-page-logo"></div>
    <div class="wrapper login-container">
      <div class="login-header">Login</div>

      <form class="wrapper login-form">
        <input class="login-field" type="email" id="email" placeholder="Email Address">
        <input class="login-field" type="password" id="email" placeholder="Password">

        <input class="login-button" type="submit" value="Login to your Account">

      </form>
      <div class="sign-up-prompt">Don't have an account? <a class="sign-up-link" href="/starter-code/sign-up.html">Sign Up</a></div>
    </div>
    
  </div>

</body>
</html>